language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # install intel-python and mceq
  - conda config --add channels intel
  - conda create -n idp intelpython2_core python=2
  - source activate idp
  - conda install -c anaconda -y setuptools
  - pip install git+git://github.com/afedynitch/MCEq.git@5757d0b6e80c23032a6407364d00668328c6981e
  - python setup.py install

script:
  # Your test script goes here
  - python setup.py test
  